body, html {
    font-size: large;
}
h3 {
    text-align: center;
    padding: 20px;
}
a:link {
    text-decoration: none;
}

.navbar-brand {
    font-size: x-large;
}
.navbar {
    font-size: large;
} 
.img-fluid {
    max-width: 100%;
    height: auto;   
}
.feature-img {
    width: 90%;
}
.thumbnail {
    width: 100%;
}
.footer {
    text-align: center;
    padding-bottom: 1rem;
}
.fab {
    font-size: 36px;
}
.card {
    width: 100%;
    margin: 10px;
    border: 1px;
}
.card-group {
    display: flex;
}
.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}
.card-body {
    padding: 10px;
}


