body {
    background: no-repeat center fixed;
    background-image: url(img/ThroughTheReeds.jpg);
    background-size: cover;
    font-size: large;
}
li {
    list-style-type: none;
}

.navbar-brand {
    font-size: x-large;
}
.navbar {
    font-size: large;
} 

.img-fluid {
    max-width: 100%;
    height: auto;
    
  }
